<div class="container">

  <div class="row">
    <div class="span4">
      <div id="user_select">
      </div>
      <div id="current_user">
      </div>
    </div>
    <div class="span8">
      <div id="title">
        <h1><a href="/">Childermass</a></h1>
      </div>
      <div id="expanded_info">
        <table id="expanded_info_table" class="table table-striped">
        </table>
      </div>
    </div>
  </div>
</div>

<%= render "user_select" %>
<%= render "current_user" %>
<%= render "repo_overview" %>
<%= render "user_overview" %>
<%= render "dashboard_js" %>
